* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

 .banner_slider .slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://plus.unsplash.com/premium_photo-1683140425081-14c44089acd0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
} 

.banner_slider .slide_two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://media.gettyimages.com/id/1400562387/photo/dining-area-of-modern-home-next-to-open-doors-leading-to-a-patio.jpg?s=612x612&w=gi&k=20&c=9e0caJa1RiyzSfgSyo3ucyMDb_xi4xFvY_w9lSDgfyE=');

}

.banner_slider .slide_three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://media.istockphoto.com/id/1256571464/photo/beautiful-stairway-leading-from-basement-to-upstairs.jpg?s=612x612&w=0&k=20&c=q5o4ywvUhfn7adQy0WRZmgO8pfuM266QVccjsVRhUoo=');

}

.slide_content {
    color: #fff;
    max-width: 500px;
    padding: 25px 25px 0px 25px;
    border-width: 4px 4px 0 4px;
    border-color: #ff6f00;
    border-style: solid;
}

.slide_content p {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.slide_content h2 {
    font-size: 65px;
    line-height: 76px;
    margin: 25px 20px 20px 0px;
}

.slide_content .btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6f00;
    padding: 10px 42px;
    font-weight: 700px;
    display: inline-block;
    outline: 1px solid #ff6f00;
    transition: 0.3s ease-in-out;
}
.slide_content .btn:hover{
background-color: #fff;
color: #ff6f00;
outline-color: #fff;
outline-offset: 3px;
}

.slide_content .btn_transparent {
    background-color: transparent;
    border-color: #fff;
    margin-right: 20px;
    outline-color: #fff;
}
.slide_content .btn_transparent:hover{
background-color: #ff6f00;
color: #fff;
outline-color: #fff;
outline-offset: 3px;

}
  .banner_slider.slick-slider{
   margin-bottom:0;
  }  
  .banner_slider .slick-dots{
  width: 100;
  bottom: 6%;
  }
   .banner_slider .slick-dots li button::before{
   font-size: 16px;
   color: #ff6f00;
   }
    .banner_slider .slick-dots li{
    margin: 0 3px;
    }
    .banner_slider .slick-dots li.slick-active button::before{
    opacity: 1;
    color: #ff6f00;
    }
     .banner_slider .slick-arrow.prev{
     left: 0;   
     }
      .banner_slider .slick-arrow.next{
      right: 0;
      }
      .banner_slider .slick-arrow{
      position: absolute;
      top: 50%;
      display: block;
      z-index: 9;
     transform: translate(0, -50%);
      cursor: pointer;
      }
      .banner_slider .slick-arrow span {
     color: #fff;
     font-size: 50px;
     padding: 8px;

      }
      @media only screen and (max-width:992px){
         .banner_slider .slide{
         padding: 0 24px;
         
         }
         .slide-content{
        
    max-width: 100px;
    padding: 10px 10px 0px 10px;
    border-width: 2px 2px 0 2px;
    text-align: center;
         }
         .slide_content p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.slide_content h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
}
.slide_content .btn {
    padding: 8px 24px;
    font-size: 14px;
}
.banner_slider .slick-arrow span {
     font-size: 25px;
     padding: 5px;

      }
      }
     @media only screen and (max-width:414px){
      .button_wrap{
        max-width: 200px;
        margin: 0auto;
      }
      .slide_content .btn {
    display: block;
    width: auto;
}
 .slide_content .btn_transparent {
    margin-right: 0px;
    margin-bottom: 10px;
}
     }
        
 

